
<div class="container">
  <div class="row">
    <form [formGroup]="newPaperFormInterface" [ngClass]="{'submitted':ifSubmitted}" (ngSubmit)="sendForm()" class="form-horizontal">
      <fieldset>

        <h1>New Paper</h1>

        <hr>

        <div formGroupName="EventDetails">
          <div class="row">
            <div class="col-md-6">
              <label>Event to submit *</label>
              <select formControlName="EventToSubmit" name="declineType" class="form-control">
                <option value="" disabled>Select...</option>
                <option value="Berlin17">Berlin 2017</option>
                <option value="Amsterdam17">Amsterdam 2017</option>
                <option value="Dubai17">Dubai 2017</option>
              </select>
            </div>
            <div class="col-md-6">
              <label>Language *</label>
              <select formControlName="Language" name="lang" class="form-control">
                <option value="" disabled>Select...</option>
                <option value="Eng">English</option>
              </select>
            </div>
          </div>
        </div>


        <hr>


        <div formGroupName="SpeechDetails">
          <div class="row">
            <button type="button" class="col-md-3 import-btn">Import From Older Paper</button>
            <div class="col-md-9">
              <label class="control-label">Title*</label>
              <input formControlName="Title" name="title" placeholder="Title" class="form-control input-md" required="" type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label class="control-label">Abstract*</label>
              <textarea formControlName="Abstract" class="abstract-div" maxlength="600" rows="4" cols="50">
          </textarea>
            </div>
          </div>
          <div class="row">
            <small>600 characters max</small>
          </div>


          <hr>

          <!--Add binding here to the radio of the Topic-->
          <p>Topic*</p>
        </div>


        <hr>


        <div formGroupName="SessionDetails">

          <div class="row">
            <label class="col-md-6">Session type * ("lab" is only available in Rome and
              Milan)</label>
          </div>
          <div class="row">
            <div class="col-md-6">
              <select formControlName="SessionType" name="SessionType" class="form-control">
                <option value="" disabled>Select...</option>
                <option value="lab">lab</option>
                <option value="meetup">meetup</option>
                <option value="talk">talk</option>
              </select>
            </div>
          </div>
          <div class="row">

          </div>

          <div class="row">
            <label class="col-md-6">Level*</label>
          </div>
          <div class="row">
            <div class="col-md-6">
              <select formControlName="Level" name="Level" class="form-control">
                <option value="" disabled>Select...</option>
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
              </select>
            </div>
          </div>
          <div class="row">

          </div>

          <div class="row">
            <label class="col-md-6">Length*</label>
          </div>
          <div class="row">
            <div class="col-md-6">
              <select formControlName="Length" name="Length" class="form-control">
                <option value="" disabled>Select...</option>
                <option value="30_min">30 Min</option>
                <option value="40_min">40 Min</option>
              </select>
            </div>
          </div>
          <div class="row">
            <small>
              If your talk is longer than these options,
              please write it on "Technical and logistical requirements for your speech" field below.
            </small>
          </div>
          <div class="row">

          </div>
          <div class="row">
            <label class="col-md-6">Tags</label>
          </div>
          <div class="row">
            <div class="col-md-6">
              <input formControlName="Tags" name="tags" placeholder="web,UX,UI,HTML5" class="form-control input-md" type="text">
            </div>
          </div>
        </div>


        <hr>

        <div formGroupName="CoSpeakers">
          <div class="row">
            <label>Co-Speakers</label>
          </div>

          <div class="row">

            <div class="col-md-4">
              <input (ngClick)="addToCoSpeakers()"  name="tags" placeholder="Co-Speakers email address" class="form-control" required=""
                     type="text">
            </div>
            <div class="col-md-2">
              <input type="button" class="btn btn-default" value="X">
            </div>

            <div class="col-md-6">
              <input type="button" class="btn btn-default co-speaker-btn" value="Add co-speaker">
            </div>
          </div>

          <div class="row" *ngFor="let speaker of coSpeakersArr">{{speaker}}</div>

        </div>


        <hr>


        <div formGroupName="Requirements">
          <div class="row">
            <label>Technical and logistical requirements for your speech</label>
          </div>
          <div class="row">
            <textarea formControlName="Requirements"
                      placeholder=" Please tell us if you have particular requirements, for your laptop, internet access, audio connection..."
                      maxlength="400" rows="4" cols="50"></textarea>
          </div>
          <div class="row">
            <small>400 characters max</small>
          </div>

          <div class="row">
            <label>Notes</label>
          </div>
          <div class="row">
            <textarea formControlName="Notes"
                      maxlength="400" rows="4" cols="50"></textarea>
          </div>
          <div class="row">
            <small>400 characters max</small>
          </div>
        </div>


        <hr>


        <div class="FormButtons">
          <div class="form-group">
            <label class="col-md-2 control-label" for="back"></label>
            <div class="col-md-2">
              <button id="back" name="back" class="btn btn-default back-btn bottomButtons">Back</button>
            </div>

            <label class="col-md-2 " for="saveAsDraft"></label>
            <div class="col-md-2">
              <button id="saveAsDraft" name="saveAsDraft" class="btn btn-default saveAsDraft-btn bottomButtons">Save As
                Draft
              </button>
            </div>

            <label class="col-md-2 control-label"></label>
            <div class="col-md-2">
              <button type="submit" name="send" class="btn btn-default send-btn bottomButtons">Send</button>
            </div>
          </div>
        </div>

      </fieldset>
    </form>

  </div>
</div>

