#password .two_col {
  padding: 20px 0;
}

#password .input_wrap {
  padding-right: 46px;
}

#password .two_col .input_wrap:nth-child(2n){
  padding-right: 0;
}

.footer_profile {
  border-top: 3px solid #EEE;
  padding-top: 30px;
}

form .two_col .input_wrap {
  float: left;
}

.right {
  float: right !important;
}
