<section id="password">
  <div><h1>Change Password</h1></div>
  <form id="password_form" [formGroup]="pwdForm" (ngSubmit)="save()" class="form-group" novalidate>
    <div class="two_col clearfix">
      <div class="col-md-6 input_wrap small clearfix form-group">
        <label for="newpwd">New Password *</label>
        <input id='newpwd'
               type="password"
               formControlName="newpwd"
               class="form-control"
               [ngClass]="{'error-field': !newpwd.pristine && newpwd?.errors}">
        <br>
        <small>8 characters min.</small>
        <small><div *ngIf="!newpwd.pristine && newpwd?.errors?.required" class="error-text">you must enter a pwd</div></small>
        <small><div *ngIf="newpwd?.errors?.minlength" class="error-text">passwword must be at least 8 characters</div></small>
        <!--div>{{ newpwd.errors | json }}</div-->
      </div>
      <div class="col-md-6 input_wrap small clearfix form-group">
        <label for="repeatednewpwd">Repeat New Password *</label>
        <input id='repeatednewpwd'
               type="password"
               formControlName="repeatednewpwd"
               class="form-control"
               [ngClass]="{'error-field': !repeatednewpwd.pristine && repeatednewpwd?.errors}">
        <small><div *ngIf="!repeatednewpwd.pristine && repeatednewpwd?.errors?.required" class="error-text">you must enter a pwd</div></small>
        <small><div *ngIf="repeatednewpwd?.errors?.minlength" class="error-text">passwword must be at least 8 characters</div></small>
        <small><div *ngIf="repeatednewpwd?.errors?.nonIdenticalPwd" class="error-text">Repeat New Password field must be identical to New Password field</div></small>
        <!--div>{{ repeatednewpwd.errors | json }}</div-->
      </div>
    </div>
    <div class="footer_profile clearfix">
      <button type="submit" class="right">Apply</button>
    </div>
  </form>
</section>

