<section id="password">
  <div><h1>Change Password</h1></div>
  <form id="password_form" [formGroup]="pwdForm" (ngSubmit)="login()" class="form-group" novalidate>
    <div class="two_col clearfix">
      <div class="col-md-6 input_wrap small clearfix form-group">
        <label for="newpwd">New Password *</label>
        <input id='newpwd' type="text" formControlName="newpwd"
               class="form-control">
        <br>
        <small>8 characters min.</small>
        <div>{{ newpwd.errors | json }}</div>
      </div>
      <div class="col-md-6 input_wrap small clearfix form-group">
        <label for="repeatednewpwd">Repeat New Password *</label>
        <input id='repeatednewpwd' type="text"
               formControlName="repeatednewpwd"
               class="form-control">
        <div>{{ repeatednewpwd.errors | json }}</div>
      </div>
    </div>
    <div class="footer_profile clearfix">
      <button type="submit" class="right">Apply</button>
    </div>
  </form>
</section>

