<div class="navi">
  <div class="nav-top-header logo">
    <a href="#"><span><img class='avatar hidden-xs hidden-sm circle-logo' src="{{user.file}}"
                           alt="">{{user.name}}</span></a>
  </div>
  <div class="nav-menu">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" *ngFor="let menu of menus">
        <a href="{{menu.route}}">{{menu.name}}</a>
        <span class="icon-menu {{menu.iconClass}}" aria-hidden="true"></span>
      </li>
    </ul>
  </div>
</div>
